.small-panel {
    padding-top:0;
    padding-bottom: 0;
}

.small-panel h4 {
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

.background{
    min-height: 168px;
}

.btn-block {
    width: 100%;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.incone-outcome-chart-container {
    position: relative;
    margin-left:15%;
    margin-bottom: 5%;
    height: 150px;
    width: 400px;
}
