@model IEnumerable<BankAccountSummary>

<div class="col s6">
    <div class="row">
        <div class="col s12 m12">
            @if (Model.Any())
            {
                <div class="card-panel teal small-panel">
                    <span class="white-text">
                        <h4>Total : @Html.Euro(Model.Sum(ba => ba.Balance))</h4>
                    </span>
                </div>
            }
        </div>
    </div>
</div>