@model HomeIndexModel

@{
    Layout = "_layout";
}

<div class="row">
    <div class="col s12">
        <h3>Mes comptes en banque <a class="waves-effect waves-light btn" href="/BankAccount/Create">Nouveau compte</a></h3>
    </div>
    <div class="col s6">
        <div class="section">
            <h5>Comptes courants</h5>
        </div>
        @await Html.PartialAsync("_bankAccountSummary", Model.PersonnalsCurrentBankAccounts)
    </div>

    <div class="col s6">
        <div class="section">
            <h5>Comptes épargnes</h5>
        </div>
        @await Html.PartialAsync("_bankAccountSummary", Model.PersonnalsSavingBankAccounts)

    </div>
</div>

<div class="row">
    @await Html.PartialAsync("_bankAccountSummaryTotal", Model.PersonnalsCurrentBankAccounts)
    @await Html.PartialAsync("_bankAccountSummaryTotal", Model.PersonnalsSavingBankAccounts)
</div>

<div class="divider"></div>

<div class="row">
    <div class="col s12">
        <h3>Comptes partagés</h3>
    </div>

    <div class="col s6">
        <div class="section">
            <h5>Comptes courants</h5>
        </div>
        @await Html.PartialAsync("_bankAccountSummary", Model.SharedsCurrentBankAccounts)
    </div>
    
    <div class="col s6">
        <div class="section">
            <h5>Comptes épargnes</h5>
        </div>
        @await Html.PartialAsync("_bankAccountSummary", Model.SharedsSavingBankAccounts)
    </div>

</div>