@model DaGetV2.Shared.ApiTool.ListResult<DaGetV2.Service.DTO.BankAccountDto>

@{
    Layout = "_layout";
}

<div class="row">

    @foreach (var bankAccount in Model.Datas)
    {
    <div class="col-4">
        <a href="" class="btn btn-sq-lg btn-blue" style="padding-top: 20px">
            @bankAccount.Wording<br />
            <span>@bankAccount.Balance</span>
        </a>
    </div>
    }
</div>